.App {
  text-align: center;
  background-color: lightgray;
  margin-top: -15px;
}

.headContainer{
  padding-top: 35px;
}

.headContainer button{
  margin-top: 20px;
  padding:10px 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
}

.header{
  height: 150px;
  position: relative;
  border: 3px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . "
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";

  }

  .grid-container, .detailsMain, .Add, .Edit {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/35mm_movie_negative.jpg/1280px-35mm_movie_negative.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size:cover;
    overflow: auto;
    height: 100%;
  }

  .movie h3{
    font-size: 1vw;
  }

 .detailsMain{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr ;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . "
  }


.movie img{
  max-height: 250px;
}

.description div{
  border: solid 2px grey;
  background-image: linear-gradient(to bottom right, rgb(77, 75, 75), lightgrey);
  width: 70%;
  min-height: 150px;
  margin-top: 10%;
  font-size: 1vw;
  text-align: left;
}

.description button, .editInputs button, .AddInputs button{
 float: left;
 padding:10px 20px;
 margin: 2px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 border-radius: 4px;
}

.details{
  float:left;
}

.descriptionInput{
  width:500px;
  height:300px;
}

.details img{
  min-height: 400px;
  margin-bottom: 95%;
}

.multiline{
  white-space: pre-wrap;
}