.description{
    float:right;
  }
  .details{
    float:left;
  }
  .detailsMain{
    display: inline;
  }
  .descriptionInput{
    width:300px;
    height:300px;
  
  }
  .Add{
      text-align: left;
  }